
body{
	margin: 0;
	padding: 0;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

#main-container{
	margin: 150px auto;
	width: 600px;
}
.botones{
	background-color: aqua;
	text-align: left;
	border-collapse: collapse;
	border-color: aqua;

}
.botones:hover td{
	background-color: aqua;
}
.botones td{
	padding: 25px;
	color: aqua;
	background-color: aqua;
	padding-top: 0rem;
  	padding-bottom: 0rem;
	font-size: 14px;
	text-align: center;

}
.botones thead{
	background-color: aqua;
	border-bottom: solid 0px 		aqua;
	color: aqua;
}
.botones tr:hover td{
	background-color: aqua;
	}

table{
	background-color: #212529;
	text-align: left;
	border-collapse: collapse;
	border-color: #dee2e6;	
	text-align: center;
}
th{
	padding: 20px;
	color: white;
	padding-top: 0.5rem;
  	padding-bottom: 0.5rem;
	font-size: 14px;
	text-align: center;
}
thead{
	background-color: #212529;
	border-bottom: solid 5px 		#fcfcfc;
	color: #fcf8e3;
}
td{
	padding: 20px;
	background-color: #212529;
	color: #fcf8e3;
	padding-top: 0.5rem;
  	padding-bottom: 0.5rem;
  	font-size: 14px;
  	text-align: center;  	
}
td a{
	text-align: center; 
}
tr:hover td{
	background-color: #14171a;
}
.btneliminar img{
	color: #000;
  	background-color: #ff0707;
  	border-color: #ff0707; 
  	text-align: center;
}
.btneliminar:hover img{
	color: #000;
  	background-color: #ff2c2c;
  	border-color: #ff2020;
  	margin: auto;
}
.btnmodificar img{
	  color: #000;
	  background-color: #ffc107;
	  border-color: #ffc107;
}
.btnmodificar:hover img{
	  color: #000;
	  background-color: #ffca2c;
	  border-color: #ffc720;
}
.btnadd{
	background-color: #1cad4a;
	text-align: center;
	border-color: #34ad58;
	color: white;
	border-radius: 0.5em;
	cursor: pointer;
}
.btnpdf{
	background-color: #ad0909;
	text-align: center;
	border-color: #ad3434;
	color: white;
	border-radius: 0.5em;
	cursor: pointer;
}
.btnventa{
	background-color: #3AC1C8;
	text-align: center;
	border-color: #08AFB8;
	color: white;
	border-radius: 0.5em;
	cursor: pointer;
}
.btnsesion{
	background-color: #F9911C;
	text-align: center;
	border-color: #F9911C;
	color: white;
	border-radius: 0.5em;
	cursor: pointer;
}

