
:root{
    --blue:#07408b;
    --black:#130f40;
    --light-color:#666;
	--fondo-color:#edf1f7;
}


table{
	background-color: #212529;
	text-align: left;
	border-collapse: collapse;
	border-color: #dee2e6;
	
}

th{
	padding: 20px;
	color: white;
	padding-top: 0.5rem;
  	padding-bottom: 0.5rem;
	font-size: 14px;
	text-align: center;
}

thead{
	background-color: #212529;
	border-bottom: solid 5px 		#fcfcfc;
	color: #fcf8e3;
}

td{
	padding: 20px;
	background-color: #212529;
	color: #fcf8e3;
	padding-top: 0.5rem;
  	padding-bottom: 0.5rem;
  	font-size: 14px;
  	text-align: center;  	
}
td a{
	text-align: center; 
}
tr:hover td{
	background-color: #14171a;

}

.btnsesion{
	background-color:var(--black);
	text-align: center;
	border-color: #FC9064;
	color: white;
	border-radius: 0.5em;
	cursor: pointer;
}
section{
    padding:2rem 10%;
}