*, ::after, ::before {
    box-sizing: border-box;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

.bg-success {
    background-color: #130f40 !important;
}

.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
    padding-left: 5rem;
    padding-right: 5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.h1, h1 {
    font-size: calc(1.375rem + 1.5vw);
}

.text-white {
    color: #fff!important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.col-md-1{
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 4rem;
}
.col-md-4{
    flex: 0 0 auto;
    width: 50%;
    padding-left: 7.5px;
}

.col-md-8 {
    flex: 0 0 auto;
    width: 50%;
    padding-right: 7.5px;
}

.align-items-center {
    align-items: center!important;
}

.container{
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

.services-icon-wap {
    transition: .3s;
}

.pb-3 {
    padding-bottom: 3rem!important;
}

.pb-5 {
    padding-bottom: 3rem!important;
}

.pt-5{
    padding-top: 3rem !important;
}

.col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
}

.h-100 {
    height: 100%!important;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.row>* {
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y);
}   

.text-success {
    color: #130f40 !important;
}

.h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px !important;
    font-weight: 200 !important;
}

.text-center {
    text-align: center!important;
}

.mt-4 {
    margin-top: 1.5rem!important;
    color: #130f40;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}