*::after,
*::before,

:root{
    --blue:#07408b;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
	justify-content: space-between;
	padding: 0.5rem 5%;
	align-items: center;
    box-shadow: var(--box-shadow);
}

.logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);
}

.logo i{
    color:var(--blue);
}

header input{
	width: 270px;
	height: 28px;
}

.navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:var(--black);
}

.navbar a:hover{
    color:var(--blue);
}

.icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.icons div:hover{
    background: var(--blue);
    color:#fff;
}

#menu-btn{
    display: none;
}


main{
    max-width: 1300px;
	width: 100%;
	margin: auto;
}

.cuerpo{
    padding-top: 30px;
    width: 100%;
    max-width: 1450px;
    height: 100vh;
    padding: 40px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: left;
    align-items: left;
    margin: auto;
}

.contenedor-C {    
    position: center;
    top: 5rem;
    left: -120px;
    margin: 1px auto 0;
}

h2{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem !important;
    font-weight: 200 !important;
    align-items: center; 
}

h5{
    font-size: 2.0rem;
    font-weight: 600;
    line-height: 2.2;
}

p{
    font-size: 18px !important;
    font-weight: 300 !important;
    margin-top: 0;
    margin-bottom: 1rem;
}

.container-items{
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.item{
    border-radius: 500px;
}

.item img{
	width: 360px;
	height: 260px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	transition: all .5s;
}

.item:hover img{
	transform: scale(1.1);
}

.rounded-circle{
    border-radius: 50%!important;
}

.border{
    border: 2px solid #dee2e6!important;
}

.text-center{
    text-align: center !important;
}

.btn {
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-success {
    color: #fff;
    background-color: #130f40 !important;
    border-color: #130f40 !important;
}

.bg-light{
    background-color: #e9eef5 !important;
}

.py-5{
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}

.container{
    width: 100%;
    padding-right:.75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;
}

.my-4{
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important;
}

.row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

.py-3{
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}

.m-auto {
    margin: auto!important;
}

.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
}

.contenedor-items{
    justify-content: center;
    display: grid;
	grid-template-columns: repeat(5, 15rem);
	gap: 5px;
}

.brand-img {
    filter: grayscale(100%);
    opacity: 0.5;
    transition: .5s;
}

.brand-img:hover {
    filter: grayscale(0%);
    opacity: 1;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.imagen{
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 100px;
}


.pie{
    background: #130f40;
    padding-right: 1rem;
    padding-left: 1rem;
}

.pie .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.pie .box-container .box h3{
    font-size: 2.5rem;
    color: #fff;
    padding:1rem 0;
}

.pie .box-container .box h3 i{
    color: #fff;
}

.pie .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color: #fff;
    padding:1rem 0;
}

.pie .box-container .box .links i{
    color: #fff;
    padding-right: .5rem;
}

.pie .box-container .box .links:hover i{
    padding-right: 2rem;
}
.pie .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color: #fff;
    padding:1rem 0;
}

.pie .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:var(--black);
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}

