body{
	background-color: #ffffff;
	font-family: sans-serif;
	margin:0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height:100vh;
}
.formproducto{
	width: 95%;
	max-width: 500px;
	background: white;
	padding: 20px;
}
label, input{
	display: block;
}
input{
	width: 70%;
	padding:8px;
	font-size: 17px;
}
label{
	width: 30%;
	font-size:20px;
}
h1{
	text-align: center;
	margin-top:0;
}
.contenedor{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.formbutton{
	width: 100%;
	background: #2F57A2;
	padding: 10px;
	border: none;
	color: white;
	font-size:17px;
	margin-top: 10px;
	cursor: pointer;
}
.formcancelar{
	width: 100%;
	background: #EC0808;
	padding: 10px;
	border: none;
	color: white;
	font-size:17px;
	margin-top: 10px;
	cursor: pointer;

}
.formlist{
	width: 75%;
	background: white;
	padding: 10px;	
	font-size:18px;	
	cursor: pointer;
}
.formfile{
	width: 75.5%;	
}

