:root{
    --blue:#07408b;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}       
.logo{
    color:var(--black);
    font-weight: bolder;
    font-size: 2.5rem;
}