.nosotros__main section {
  --pdg-right: calc(50vw - 45%);
  padding: 2rem var(--pdg-right);
}

.nosotros__main > h3 {
  font-size: 5rem;
  margin: 2rem calc(50vw - 45%);
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.7rem;
}

/* ==============  SECTION NOSOTROS ================ */

section.nosotros {
  position: relative;
  overflow: hidden;
  padding-bottom: 0;
}

section.nosotros .box {
  background: rgb(237, 241, 247);
  background: -moz-linear-gradient(
    90deg,
    rgba(237, 241, 247, 1) 55%,
    rgba(237, 241, 247, 0) 99%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(237, 241, 247, 1) 55%,
    rgba(237, 241, 247, 0) 99%
  );
  background: linear-gradient(
    90deg,
    rgba(237, 241, 247, 1) 55%,
    rgba(237, 241, 247, 0) 99%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#edf1f7",endColorstr="#edf1f7",GradientType=1);
  height: 533px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.nosotros .box > h2 {
  margin-bottom: 5rem;
}
section.nosotros .box > p {
  width: 70%;
  color: #234869;
}

.imgBx {
  position: absolute;
  width: calc(100% - 10rem);
  top: 2rem;
  right: var(--pdg-right);
  overflow: hidden;
  z-index: -1;
  display: flex;
  justify-content: right;
}
.imgBx img {
  width: 450px;
}

/* ==============  SECTION IMAGES ================ */

section.images {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}
section.images img {
  width: calc(50% - 2rem);
  min-width: calc(320px - 3.2rem);
  opacity: 0;
  animation: show 2s ease-in-out forwards;
}
section.images > img:nth-child(2) {
  animation-delay: 0.3s;
}

/* ==============  LAST SECTION ================ */

section.last_content {
  position: relative;
}
section.last_content .imgBx {
  position: absolute;
  height: calc(100% - 4rem);
  box-sizing: border-box;
  top: 2rem;
  left: -15%;
  z-index: -1;
  overflow: hidden;
  margin-right: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.last_content .imgBx img {
  height: calc(100% - 2px);
  width: auto;
  margin-right: 20%;
}
section.last_content .box {
  text-align: end;
  background: rgb(237, 241, 247);
  background: -moz-linear-gradient(
    -90deg,
    rgba(237, 241, 247, 1) 55%,
    rgba(237, 241, 247, 0) 99%
  );
  background: -webkit-linear-gradient(
    -90deg,
    rgba(237, 241, 247, 1) 55%,
    rgba(237, 241, 247, 0) 99%
  );
  background: linear-gradient(
    -90deg,
    rgba(237, 241, 247, 1) 55%,
    rgba(237, 241, 247, 0) 99%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#edf1f7",endColorstr="#edf1f7",GradientType=1);
  height: 533px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.last_content .box p {
  width: initial;
  margin-left: 30%;
}
section.last_content .box h2 {
  margin-bottom: 5rem;
}


@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}