.slider{
	width: 1000px;
	height: auto;
    margin: 50px auto 0;
	overflow: hidden;
}

.slides{
	width: 5000px;
	height: 500px;
	display: flex;
}

.slides input{
	display: none;
}

.slide{
	width: 20%;
	transition: 2s;
}

.slide img{
	width: 1000px;
	height: 600px;
}

.nav-auto{
	position: absolute;
	display: flex;
	width: 1000px;
	justify-content: center;
	margin-top: 460px;
}

.nav-auto div{
    border: 2px solid white;
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
}

.nav-auto div:not(:last-child){
	margin-right: 40px;
}

#radio1:checked ~ .nav.auto .auto-btn1{
	background-color: white;
}

#radio2:checked ~ .nav.auto .auto-btn2{
	background-color: white;
}

#radio3:checked ~ .nav.auto .auto-btn3{
	background-color: white;
}

#radio4:checked ~ .nav.auto .auto-btn4{
	background-color: white;
}

#radio5:checked ~ .nav.auto .auto-btn5{
	background-color: white;
}

.nav-manual{
	position: absolute;
	width: 1000px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
}

.manual-btn{
	border: 2px solid black;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.manual-btn:not(:last-child){
	margin-right: 40px;
}

.manual-btn:hover{
	background-color: white;
}

#radio1:checked ~ .first{
	margin-left: 0%;
}

#radio2:checked ~ .first{
	margin-left: -20%;
}

#radio3:checked ~ .first{
	margin-left: -40%;
}

#radio4:checked ~ .first{
	margin-left: -60%;
}

#radio5:checked ~ .first{
	margin-left: -80%;
}