body{
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: red;
	justify-content: center;
	align-items: center;
}

.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}
.info{
    padding: 10px;
    background-color: #FFFFFF;
    margin: auto;
    margin-bottom: 10px !important;
}

.info h2{
    color: #707070;
    margin-bottom: 5px;
}

.info p{
    font-size: 14px;
    color: #707070;
    margin-bottom: 10px;
}

.info label{
    font-size: 14px;
    color: #707070;
    margin-bottom: 10px;
}

.info .precio{
    font-size: 20px;
    font-weight: bold;
    color: #f85151;
    margin-bottom: 5px;
    display: block;
    

}

.info .fila{
    display: flex;
    align-items: flex-end;
}

.info .fila label{
    display: block;
    margin-bottom: 10px;
}

.info .fila select{
    width: 100px;
    font-size: 18px;
    padding: 6px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.info .fila button{

    height: 40px;
    border: none;
    padding: 0 10px;
    color: #fff;
    background-color: #f85151;
    margin-bottom: 1px;
    cursor: pointer;
}
.cantidad{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cantidad button{
    width: 30%;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    
}
.btnadd{
    cursor: pointer;
}
.inputcantidad{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.value_cont{
    width: 30%;
    height: 40px;
    margin: 0px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 150%;
    justify-content: center;
    align-items: center;
    color: black;
}
.info .fila .cantidad .value_cont h2{
	font-size: 20px;
	color: #707070;
    margin-bottom: 1px;
}
.productos{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.carrito-img{
    padding-right: 30px;
    text-decoration: none;
    font-weight: bold;
}